.main {
  align-self: center;
  margin-left: 32%;
}




.todo{
  border-radius: 2%;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  width: 50%;
  text-align: center;
  margin: 7px;
  padding: 15px;
}

.Items{
  border-radius: 11px;
  display: flex;
  margin-left: 4.5%;
  margin-bottom: 10px;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  max-width: 90%;
  text-align: center;
  height: 100px;
}

.Number {
  font-size: xx-large;
  border-radius: 10%;
  width: 15%; 
  margin: 2px;
  color: aliceblue;
  background-color: orange;
}

.Content {
  text-align: center;
  width: 70%;
  margin-top: -10px;
  margin-left: 2%;
  border-radius: 15%;
}

.Task {
  overflow: visible;
  overflow-wrap: anywhere;
  box-sizing: border-box;
  width: auto;
  padding: 20px;
  font-family: Arial;
  margin: 10px;
 
}

.Time {
  font-size: x-small;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.buttons {
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  background: none;

}

.button {
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  border: none; 
  outline: none;
}

