
.container{
    color: aliceblue;
    width: 100%;
    height: auto;
    align-items: center;
    align-content: center;
    
}

.div1{ 
align-items: center;}


 .center_input{
   width: 100%;
   display: flex;
   justify-content: center;
   
 }
.title{ padding-top: 50px;
    text-align: center;
    font-size: xx-large;
    font-family: 'algerian';
    color:  black;
    font-weight: 1000;
   
    padding-bottom: 1em;
}

.ff{color: rgb(21, 16, 63);
   display: flex;
   justify-content: center;}

.body{
    height: auto; 
}

input{
    width: 20em;
    
    font-size: 2em;
}
 button{
    margin-left: 20px;
    font-size: xx-large;
 }
 .division{
    margin: 2em;
    align-items: center;
 }
 .input-division{
    width: 15em;
    font-size: 2em;
 }
 .check{
    
    background-color: #68ed6a;
    transition: background-color 0.5s ease;
 }
 .check:hover{
    background-color: #e58123;
    
 }
 .delete{
    background: #ec5454;
    transition: background-color 0.3s ease;
 }
.delete:hover{
    background-color: #e58123;
}